* {
  box-sizing: border-box;
}

.cocktails-container {
  display: flex;
  flex-wrap: wrap;
}

.cocktail-card {
  width: 33.33%;
  padding: 30px;
  background-color: aliceblue;
  text-align: center;
}

.cocktail-card-img {
  max-width: 100%;
}
